[Unit]
Description=LangFuse worker container definition
Wants=network-online.target postgresql.service clickhouse.service redis.service minio.service langfuse.service
After=podman.socket postgresql.service clickhouse.service redis.service minio.service langfuse.service

[Container]
Image=docker.io/langfuse/langfuse-worker:latest
AutoUpdate=registry
Network=internal-network
Network=internet-network
ContainerName=langfuse-worker
Environment=LANGFUSE_S3_EVENT_UPLOAD_BUCKET=langfuse-store
Environment=LANGFUSE_S3_EVENT_UPLOAD_REGION=auto
Environment=LANGFUSE_S3_EVENT_UPLOAD_ENDPOINT=http://minio-service:9000
Environment=LANGFUSE_S3_EVENT_UPLOAD_FORCE_PATH_STYLE=true
Environment=LANGFUSE_S3_EVENT_UPLOAD_PREFIX=events/
Environment=LANGFUSE_S3_MEDIA_UPLOAD_BUCKET=langfuse-store
Environment=LANGFUSE_S3_MEDIA_UPLOAD_REGION=auto
Environment=LANGFUSE_S3_MEDIA_UPLOAD_ENDPOINT=http://minio-service:9000
Environment=LANGFUSE_S3_MEDIA_UPLOAD_FORCE_PATH_STYLE=true
Environment=LANGFUSE_S3_MEDIA_UPLOAD_PREFIX=media/
Environment=REDIS_TLS_ENABLED=false
Environment=DATABASE_HOST=postgresql-server:5432
Environment=DATABASE_NAME=langfusedb
Environment=CLICKHOUSE_MIGRATION_URL=clickhouse://clickhouse-server:9000
Environment=CLICKHOUSE_URL=http://clickhouse-server:8123
Environment=CLICKHOUSE_DB=langfusedb
Environment=CLICKHOUSE_CLUSTER_ENABLED=false
Environment=SALT=mJTzIqBZ0trh97YrGjPTDn7k4GmX6US3JF34koVZ
Environment=LANGFUSE_ENABLE_EXPERIMENTAL_FEATURES=true
Secret=LANGFUSE_S3_KEY_ID,type=env,target=LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID
Secret=LANGFUSE_S3_SECRET_KEY,type=env,target=LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY
Secret=LANGFUSE_S3_KEY_ID,type=env,target=LANGFUSE_S3_MEDIA_UPLOAD_ACCESS_KEY_ID
Secret=LANGFUSE_S3_SECRET_KEY,type=env,target=LANGFUSE_S3_MEDIA_UPLOAD_SECRET_ACCESS_KEY
Secret=LANGFUSE_REDIS_CONNECTION_URL,type=env,target=REDIS_CONNECTION_STRING
Secret=LANGFUSE_POSTGRESQL_USERNAME,type=env,target=DATABASE_USERNAME
Secret=LANGFUSE_POSTGRESQL_PASSWORD,type=env,target=DATABASE_PASSWORD
Secret=LANGFUSE_CLICKHOUSE_USERNAME,type=env,target=CLICKHOUSE_USER
Secret=LANGFUSE_CLICKHOUSE_PASSWORD,type=env,target=CLICKHOUSE_PASSWORD
Secret=LANGFUSE_ENCRYPTION_KEY,type=env,target=ENCRYPTION_KEY
Label="traefik.enable=false"
PublishPort=3030:3030

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=default.target

